* {
	margin: 0px;
	padding: 0px;
}

body.move {
	cursor: move;
}

body {
	overflow: hidden;
}

#left_pane {
	white-space: nowrap;
}

#btnBuildTree {
	margin: 10px;
}

#left_pane span.title {
	font-size: 16pt;
}

#left_pane > pre {
	display: none;
	font-size: 10pt;
	overflow-y:hidden;
}

line.link {
	stroke: #999;
	stroke-width: 0.4px;
	marker-end: url(#arrow);
}

	line.link.hidden {
		display: none;
	}

body.color_edges line.link {
	marker-end: none;
	stroke-width: 0.8px;
}

g.node circle {
	stroke: #fff;
	stroke-width: 0.15px;
}

g.node.highlighted > circle {
	fill: blue !important;
}

g.node.highlighted > text {
	fill: red !important;
}

g.node.highlighted.head > circle {
	stroke-width: 5px !important;
	stroke: blue !important;
}

line.highlighted {
	stroke: blue !important;
}

path.path {
	stroke: black;
	fill: transparent;
}

g.node > text {
	visibility: hidden;
}
	body.show_labels g > text {
	visibility:visible;
	text-anchor: middle;
	font-size: 2px;
	user-select: none;
	font-weight: bold;
	fill: #999;
}

	body.show_labels.show_leaves g > text {
		fill: #000;
	}

		body.show_leaves g.node circle{
			fill: #00aa00;
		}

body.show_leaves g.node circle[data-leaf='true'] {
	fill: red;
}

g.node.fixed circle {
	stroke-width: 0.5px;
	stroke: yellow;
}

#content {
	height: 100vh;
}

#right_pane {
	padding: 20px;
	visibility:hidden;
	white-space: nowrap;
}

#viewport {
	overflow: hidden;
}

.split p, .split-flex p {
	padding: 20px;
}

.split, .split-flex {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

	.gutter.gutter-horizontal {
		background-image: url('grips/vertical.png');
		cursor: ew-resize;
	}

	.gutter.gutter-vertical {
		background-image: url('grips/horizontal.png');
		cursor: ns-resize;
	}

	.split.split-horizontal, .gutter.gutter-horizontal {
		height: 100%;
		float: left;
	}

div.dropdown-menu {
	max-height: 400px;
	overflow-y: auto;
}
