* {
	margin: 0px;
	padding: 0px;
}

svg {
}

body {
	overflow: hidden;
}

line.link {
	stroke: #999;
	stroke-opacity: 0.6;
}

circle.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

circle.node.fixed {
	fill: #f00;
}
